
.h4-spacer {
    height: 19.2812px;
    margin-bottom: 14px;
}

.error-text {
    color: red;
    margin-top: 12px;
}

.success {
    color: green;
}

.error {
    color: red;
}

.wrp {
    overflow-wrap: break-word;
}